@charset 'utf-8';

$debug: false;
// $message-color: black;

@import "./slides/1_prefixing.scss";
@import "./slides/2_default.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

.application {
  &__logo {
    height: 80px;
  }
  &__header {
    text-align: center;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  &__title {
    font-size: 1.5em;
  }
}

.content {
  padding: 1em;
}