body {
  article {
    p {
      font-size: 100%;
      color: black;
      padding: 10px;

      @media (max-width: 768px) {
        font-size: 150%; // use larger text for smaller screens
      }
    }
  }
}

// Media query nesting

p {
  @media (max-width: 768px) {
    font-size: 150%; // use larger text for smaller screens
    @media (orientation: landscape) {
      line-height: 75%; // condense text a bit because of small vertical space
    }
  }
}

/* compiled CSS */
/*
@media (max-width: 768px) {
    p {
        font-size: 150%;
    }
}
@media (max-width: 768px) and (orientation: landscape) {
    p {
        line-height: 75%;
    }
}
*/
